<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Earthquakr.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0AB71B4F1BE3391E00F950FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0AB71B631BE3391F00F950FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0AB71B6E1BE3391F00F950FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
